.heading {
    font-family: Arial;
    color: #999999;
}

.wrapper {
    position: relative;
    padding: 20px;
    margin: 5% 5%;
}

.standardfont{
    font-family: Arial;
}

.clickable {
    text-decoration: none;
    color: #8888aa;
}

a:hover {
    font-weight: bold;
    color: #5555aa;
}

.textcolor {
    color: #888888;
}

.elementgrid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}